body {
    background: gray;
    font-family: sans-serif;
}

div{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    border: solid transparent;
}

.green {
  background-color: green !important;
}

.orange {
  background-color: orange!important;
  color: black;
}

.purple {
  background-color: purple!important;
}
