
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
form{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    background-color: yellow;
    border-radius: 10px;
}
.box{
    height: 35px;
    border: 1px gray solid;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.gender{
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
}
.gender input{
    margin-top: 5px;
}
select{
    height: 35px;
    border: 1px gray solid;
    border-radius: 5px;
    margin-bottom: 15px;
}
button{
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 1px gray solid;
}
.button{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}