body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  flex-direction: column;
  gap: 3rem;
}

.content {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.small {
  display: none;
  background: #ff6f6f;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.big {
  display: inline-block;
  background: #75cc63;
  padding: 1rem 2rem;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .big {
    display: none;
  }
  .small {
    display: inline-block;
  }
}

.green-box {
  background: #c6f23a;
  width: clamp(300px, 100%, 800px);
  height: 300px;
  border-radius: 8px;
}
